.v-body-wrapper {
	animation: toTop 350ms ease;
	padding-bottom: 2.6rem;
}
@keyframes toTop {
	from {
		transform: translateY(1000px);
	}
	to {
		transform: translateY(0);
	}
}
.v-logo {
	max-width: 10rem;
}
.v-body-wrapper nav .v-action-link {
	background-color: var(--primary-clr);
	font-size: 0.9rem;
	color: var(--white);
	padding: 12px 1rem;
	display: flex;
	align-items: center;
	line-height: 1;
	border-radius: 4px;
	transition: transform 100ms ease;
}
.v-body-wrapper nav .v-action-link:active {
	transform: scale(0.92, 0.92);
}
.nav-pills .nav-item {
	flex-grow: 1;
}
.nav-pills .nav-link {
	width: 100%;
	border-radius: 0;
	color: var(--white);
	position: relative;
	padding: 13px 0;
}
.nav-pills .nav-link::before {
	content: "";
	width: 100%;
	background-color: var(--white);
	height: 4px;
	left: 0;
	bottom: 0px;
	right: 0;
	position: absolute;
	display: none;
}
.nav-pills .nav-link.active::before {
	display: block;
}
.v-aside-inner {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	margin-top: 1rem;
}
.v-aside-inner .v-block-grid {
	display: grid;
	grid-template-columns: 1fr;
}
@media all and (min-width: 600px) {
	.v-aside-inner .v-block-grid {
		grid-template-columns: 1fr 1fr;
	}
}
.v-aside-inner .v-block-flex {
	display: flex;
	flex-direction: column;
}
.v-aside-inner:has(.v-block-flex) {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 5px;
}
.v-aside-inner .v-block {
	gap: 1rem;
}
.v-902u202dnb3 .v-block-item {
	position: relative;
	overflow: hidden;
	border-radius: 0.5rem;
}
.v-902u202dnb3 .v-block-item::before {
	content: "";
	background-image: linear-gradient(to bottom, rgba(var(--white-variant), 0), rgba(var(--dark-variant), 0.3), rgba(var(--dark-variant), 0.8));
	background-size: 100% 100%;
	background-position: 50% 0%;
	inset: 0;
	transition: 500ms ease-in-out;
	position: absolute;
}
.v-902u202dnb3 .v-block-item:hover::before {
	background-size: 115% 115%;
	opacity: 0.8;
}
.v-902u202dnb3 .v-block-item .v-subtext .v-dot {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	display: inline-block;
	background-color: var(--white);
}
.v-902u202dnb3 .v-block-item .v-block-content {
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 0;
	padding: 1rem;
	color: var(--white);
	width: 95%;
	margin-inline: auto;
	row-gap: 2px;
}
.splide__slide .v-block-content {
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
}
.splide__slide .v-block-content .v-subtext {
	justify-content: center;
}
.v-block-content .v-main-title {
	text-transform: uppercase;
	font-size: 0.95rem;
	/* white-space: nowrap; */
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	/* max-width: 250px; */
}
.splide__slide .v-block-content .v-main-title {
	max-width: max-content;
	white-space: wrap;
}

.v-each-ticket-wrap .v-barcode-image {
	display: grid;
	grid-template-columns: 0fr;
	position: relative;
	transition: 2000ms ease;
}
.v-each-ticket-wrap .v-barcode-image .v-wrap-overflow {
	overflow: hidden;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.v-each-ticket-wrap .v-barcode-image.active {
	grid-template-columns: 1fr;
}
.v-each-ticket-wrap .v-barcode-image .vertical-bar {
	background-color: var(--primary-clr);
	height: 110%;
	border-radius: 5px;
	width: 4px;
	position: absolute;
	left: 0%;
	top: 50%;
	opacity: 0;
	transform: translate(-50%, -50%);
	margin: auto;
	pointer-events: none;
}
.v-each-ticket-wrap .v-barcode-image.active .vertical-bar {
	opacity: 1;
	pointer-events: auto;
	animation: slideToRight 3000ms ease-in-out infinite alternate;
}
.v-each-ticket-wrap .v-barcode-image.active .vertical-bar {
	transition: 300ms ease-in-out;
}
.v-each-ticket-wrap .v-barcode-image.active .vertical-bar.in-active {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.v-each-ticket-wrap .v-barcode-image .vertical-bar::after,
.v-each-ticket-wrap .v-barcode-image .vertical-bar::before {
	--pseudo-width: 50px;
	content: "";
	position: absolute;
	height: 90%;
	width: var(--pseudo-width);
	top: 50%;
	opacity: 0;
}
.v-each-ticket-wrap .v-barcode-image .vertical-bar::before {
	left: 0;
	transform: translate(-100%, -50%);
	background-image: linear-gradient(to right, rgba(var(--white-variant), 0.1), rgba(var(--primary-clr-variant), 0.5));
}
.v-each-ticket-wrap .v-barcode-image.active .vertical-bar::before {
	animation: slideToRightBefore 3000ms ease-in-out infinite alternate;
}
.v-each-ticket-wrap .v-barcode-image .vertical-bar::after {
	right: 0;
	transform: translate(100%, -50%);
	background-image: linear-gradient(to left, rgba(var(--white-variant), 0.1), rgba(var(--primary-clr-variant), 0.5));
}
.v-each-ticket-wrap .v-barcode-image.active .vertical-bar::after {
	animation: slideToRightAfter 3000ms ease-in-out infinite alternate;
}
.v-each-ticket-wrap .v-barcode-image .img-fluid {
	/* height: 100%;
	min-width: 300px;
	object-position: center center; */
	width: 100%;
	height: 100%;
}
@keyframes slideToRight {
	0% {
		left: 5%;
	}
	100% {
		left: 95%;
	}
}
@keyframes slideToRightAfter {
	0% {
		opacity: 0; /* Start invisible */
	}
	100% {
		opacity: 1; /* End fully visible */
	}
}

@keyframes slideToRightBefore {
	0% {
		opacity: 1; /* Start fully visible */
	}
	100% {
		opacity: 0; /* End invisible */
	}
}
.v-902u202dnb3 .v-block-item .v-subtext {
	display: flex;
	align-items: center;
	column-gap: 10px;
	font-weight: 400;
	line-height: 1;
	margin-block: 3px;
	white-space: nowrap;
	font-size: 0.83rem;
}
.v-ticket-no {
	display: flex;
	align-items: center;
	column-gap: 5px;
}
.v-ticket-no .v-text {
	font-size: 0.85rem;
}
.v-aside-inner .v-902u202dnb3 .v-block-item svg {
	--size: 1rem;
}

.v-ticket-form .v-label {
	font-size: 0.95rem;
	margin-bottom: 2px;
	text-transform: capitalize;
}
.v-ticket-form .form-control,
.v-ticket-form .form-select,
.offcanvas .form-control {
	min-height: 2.7rem;
	background-color: var(--form-control-bg-clr);
	transition: 300ms ease-in-out;
}
.v-ticket-form .form-control:focus,
.v-ticket-form .form-select:focus,
.offcanvas .form-control:focus {
	background-color: var(--white);
}
.v-ticket-form .form-control::placeholder,
.v-ticket-form .form-select::placeholder,
.offcanvas .form-control::placeholder {
	font-size: 0.9rem;
	opacity: 70%;
}
.v-ticket-form .v-action {
	background-color: var(--primary-clr);
	color: var(--white);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	transition: 150ms ease;
	padding: 12px;
}
.v-ticket-form .v-action:active {
	transform: scale(0.95, 0.95);
}
.v-body-main .v-actioners {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1rem;
}
.v-body-main .v-actioners .v-action {
	background-color: var(--primary-clr);
	color: var(--white);
	font-size: 0.93rem;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 1rem;
	border-radius: 5px;
	transition: transform 100ms ease;
}
.v-body-main .v-actioners .v-action:active {
	transform: scale(0.92, 0.92);
}
.v-body-main .v-actioners .v-action:disabled {
	background-color: #d1d1d1;
	cursor: not-allowed;
	color: #0006;
}
.v-body-main .v-actioners .v-action:disabled:active {
	transform: scale(1);
}
.v-body-main .offcanvas {
	/* width: 500px; */
	min-height: 600px;
}
@media all and (min-width: 768px) {
	.offcanvas.offcanvas-end {
		border-radius: 1rem 0 0 1rem;
	}
}
.offcanvas .offcanvas-body::-webkit-scrollbar {
	width: 2px;
}
.offcanvas-backdrop {
	background-color: rgba(var(--dark-variant), 0.5);
	opacity: 1 !important;
}
.offcanvas .v-caution-banner {
	display: flex;
	align-items: flex-start;
	column-gap: 0.8rem;
	padding: 0.8rem;
	border: 1px solid rgba(var(--dark-variant), 0.1);
	border-radius: 10px 10px 10px 0;
	background-color: #f8f8f8;
}
.offcanvas .v-caution-banner .v-icon {
	color: #959595;
}
.offcanvas .v-caution-banner .v-icon svg {
	--size: 1.7rem;
}
.offcanvas .v-main-tickets-display {
	display: grid;
	/* grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); */
	grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
	gap: 1rem;
	margin-top: 1rem;
}
.offcanvas .v-main-tickets-display .v-each-item {
	display: grid;
	text-align: center;
	grid-template-rows: 1fr 1.2fr;
	cursor: pointer;
	border: 1px solid rgba(var(--dark-variant), 0.1);
	overflow: hidden;
	border-radius: 0 0 10px 10px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}
.offcanvas .v-main-tickets-display .v-each-item .form-check-label {
	background-color: var(--primary-clr);
	color: var(--white);
	padding: 10px;
	text-transform: uppercase;
	font-size: 0.95rem;
}
.offcanvas .v-main-tickets-display .v-each-item > * {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.v-main-tickets-display .v-each-item input[type="checkbox"] {
	border-radius: 50%;
	transition: 300ms;
	cursor: pointer;
	width: 1.5rem;
	height: 1.5rem;
}
.v-main-tickets-display .v-each-item input[type="checkbox"]:checked {
	background-color: var(--primary-clr);
	border-color: var(--primary-clr);
}
.offcanvas .offcanvas-footer {
	display: flex;
	text-align: center;
	justify-content: space-between;
	padding: 1rem;
	background-color: #ddd;
	row-gap: 10px;
}
.offcanvas .offcanvas-footer .v-offcanvas-footer-action {
	text-transform: uppercase;
	font-size: 0.9rem;
	border-radius: 5px;
	transition: 300ms ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 4px;
}
.offcanvas .offcanvas-footer .v-carry-on {
	transition: transform 100ms ease;
	border: none;
	color: rgba(var(--dark-variant), 0.48);
	font-weight: 600;
}
.offcanvas .offcanvas-footer .v-carry-on:active {
	transform: scale(0.95);
}
.v-body-wrapper nav .v-action-link:active {
	transform: scale(0.9, 0.9);
}
.offcanvas .offcanvas-footer .v-cancel {
	border-color: #95959570;
}
.offcanvas form .v-form-label {
	font-size: 0.88rem;
	font-weight: 500;
}
.offcanvas .v-offcanvas-back {
	color: #959595;
}
.offcanvas .v-offcanvas-back svg {
	--size: 1.6rem;
}
.offcanvas .v-tickety-amt {
	color: #959595;
	fill: #959595;
}
.v-each-ticket-wrap {
	border-radius: 1rem;
	overflow: hidden;
	margin-bottom: 4rem;
	border: 1px solid rgba(var(--primary-clr-variant), 0.1);
}
.v-each-ticket-wrap .v-neck {
	background-color: var(--primary-clr);
}
.v-each-ticket-wrap .v-each-items {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.v-each-ticket-wrap .v-body .v-each-items .v-top {
	font-size: 1.15rem;
}
.v-each-ticket-wrap .v-body .v-each-items .v-bottom {
	font-size: 0.7rem;
	border: 1px solid rgba(var(--dark-variant), 0.1);
	border-radius: 3px;
	padding: 2px 6px;
	line-height: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.v-each-ticket-wrap .v-neck .v-top,
.v-base-footer button,
.v-each-ticket-wrap .v-header .v-text {
	font-size: 0.9rem;
}
.v-each-ticket-wrap .v-hide-show:not(.active) {
	display: none;
}
.splide__pagination {
	margin-bottom: 1.8rem;
}
.splide__pagination .splide__pagination__page.is-active {
	background-color: rgba(var(--dark-variant), 0.8);
	transform: scale(1);
}

.v-base-footer button {
	font-weight: 600;
	color: var(--primary-clr);
}
.v-base-footer .v-buttons-container {
	margin: 2rem 0 1.5rem;
}
.v-base-footer .v-bar-code {
	display: flex;
	align-items: center;
	column-gap: 10px;
}
.offcanvas .v-listed-item {
	display: flex;
	flex-direction: column;
}
.offcanvas .v-listed-item .v-each-item {
	display: flex;
	flex-direction: column;
	row-gap: 4px;
	padding: 8px 0 8px;
}
.offcanvas .v-listed-item .v-each-item:not(:last-child) {
	border-bottom: 1px solid rgba(var(--dark-variant), 0.1);
}
.offcanvas .v-listed-item .v-each-item .v-item-title {
	font-size: 0.95rem;
}
.offcanvas .v-listed-item .v-each-item .v-item-value {
	font-size: 0.85rem;
	opacity: 0.8;
}
.offcanvas .modal-dialog .modal-content {
	border-radius: 1rem;
}
@media all and (min-width: 768px) {
	.offcanvas .modal-dialog {
		min-width: 600px;
	}
}
.offcanvas .v-what-to-do {
	display: flex;
	flex-direction: column;
	row-gap: 7px;
}
.offcanvas .v-what-to-do button {
	color: var(--primary-clr);
	border: 1.5px solid var(--primary-clr);
	font-size: 0.9rem;
	padding: 8px;
	border-radius: 5px;
}
.offcanvas .v-way-to-transfer .v-tele {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	background-color: #ddd;
	border-radius: 100vw;
}
.offcanvas .v-way-to-transfer .v-tele svg {
	opacity: 0.6;
}
.offcanvas .v-way-to-transfer .v-content {
	margin-top: 7px;
	display: flex;
	flex-direction: column;
}
.offcanvas .v-way-to-transfer .v-content .v-main-text {
	font-size: 0.95rem;
	color: var(--dark);
}
.offcanvas .v-way-to-transfer .v-content .v-subtext {
	font-size: 0.88rem;
	opacity: 0.8;
}

.v-023f .v-image {
	--size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: 50%;
	width: var(--size);
	height: var(--size);
}
.v-023f .v-form-input .v-icon {
	position: absolute;
	top: 50%;
	right: 1.5rem;
	transform: translate(50%, -50%);
}
.v-023f .v-form-input:has(.v-icon-right) .form-control {
	padding-right: 2.5rem;
}
.v-023f .v-form-input .v-icon,
.v-023f .v-q023 .v-icon-left {
	color: var(--primary-clr);
	fill: var(--primary-clr);
}
.v-023f .v-q023 .v-icon-right {
	color: var(--white);
	fill: var(--white);
}
.v-023f .v-form-input .form-control {
	min-height: 3rem;
	border-radius: 3px;
}
.v-023f .v-form-input .form-control::placeholder {
	font-size: 0.9rem;
}
.v-023f .v-q023 {
	border-bottom: 1px solid rgba(var(--white-variant), 0.65);
}
.v-023f .v-q023 .v-text {
	color: var(--white);
	font-size: 0.9rem;
}
.v-023f .v-q023 .v-q023-child:nth-child(2) {
	padding-left: 1rem;
	border-left: 1.5px solid rgba(var(--white-variant), 0.8);
}
.v-023f .v-q023 .v-q023-child:nth-child(2) .v-icon-right {
	transform: rotate(-90deg);
}
.v-presentation {
	max-height: 500px;
	overflow: hidden;
}
.v-presentation::before {
	content: "";
	position: absolute;
	inset: 0;
	background-color: rgba(var(--dark-variant), 0.35);
}
.v-presentation .v-float-content {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	left: 1.5rem;
	bottom: 1.5rem;
	color: var(--white);
}
.v-presentation .v-float-content .v-link-out {
	color: var(--white);
	background-color: var(--primary-clr);
	padding: 10px 1rem;
	border-radius: 3px;
	font-weight: 500;
}
.v-diff .v-block-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 1rem;
}
.v-diff .v-block-item .v-bg-image {
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.08);
}
.v-diff .v-block-item .v-bg-image::before {
	position: absolute;
	inset: 0;
	content: "";
	opacity: 0;
	transition: 300ms ease-in-out;
	background-color: rgba(var(--primary-clr-variant), 0.4);
}
.v-diff .v-block-item:hover .v-bg-image::before {
	opacity: 1;
}
.v-diff .v-block-item .v-bottom-content {
	padding: 0 10px 10px;
}
.v-diff .v-block-item .v-bottom-content .v-subtext {
	color: rgba(var(--dark-variant), 0.7);
}
.v-diff .v-block-item .v-bottom-content .v-main-text {
	color: var(--dark);
}
.v-diff .v-block-item:hover .v-bottom-content .v-main-text {
	text-decoration: underline;
	color: var(--primary-clr);
	text-decoration-color: var(--primary-clr);
}

.v-nav-footer {
	position: fixed;
	width: 100%;
	background-color: var(--white);
	bottom: 0;
}
.v-nav-footer .v-list-footer-links {
	padding: 14px 5px;
	display: flex;
	flex-wrap: nowrap;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.v-nav-footer .v-list-footer-links .v-text {
	font-size: 0.8rem;
	letter-spacing: -0.3px;
}
.v-nav-footer .v-list-footer-links .v-icon svg {
	--size: 1.25rem;
}
.v-nav-footer .v-list-footer-links .v-footer-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	transition: 300ms ease-in-out;
}
.v-nav-footer .v-list-footer-links .v-footer-link:not(.active) {
	color: #2228;
}
.v-nav-footer .v-list-footer-links .v-footer-link.active,
.v-nav-footer .v-list-footer-links .v-footer-link:hover {
	color: var(--primary-clr);
}
